name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: |
          npm i -f
      - name: Lint
        run: |
          npm run lint
      - name: Build
        run: |
          npm run build
