name: GHPages

on:
  push:
    branches: [master]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: docker://pandoc/latex:3.9
        with:
          entrypoint: "/bin/sh"
          args: "./build-resources-with-pandoc.sh"
      - name: Install Packages
        run: |
          npm i -f
      - name: Build all
        run: |
          npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          force_orphan: true
